PORT=3009
NODE_ENV=development
CORS_ORIGIN=http://localhost:3001,http://localhost:5173,http://localhost:3000
POSTGRES_PORT=5435
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/medsphere_cms?schema=public"
